bg-color = #efefef


// text
text-color = alpha(black, 87%)
text-disabled-color = alpha(black, 26%)

// themes
//color of header
primary-color = #27279E
accent-color = #1DE9B6
content-bgcolor = #470518
