@import '../../../styles'

.home
  .hero
    height 600px
    background-color alpha(black, 40%)
    *
      color white
    .title
      center(600px)
      text-align center
      h1
        font-size 2.5rem
        font-weight bold
      h3
        font-size 1.5rem
        font-style italic
      *
        font-weight 300
  .items
    center(600px)
