@import '../../../styles'

.adjacentQuiz
	position relative
	height 600px
	display flex
	align-items flex-start
	justify-content center

.main-content
    background-color alpha(black, 40%)  

a.cheatLink
	color blue
	text-decoration none
	&:visited
	color blue
	&:hover
	&:active
		text-decoration none

