@import '../../../styles'

.adjacentQuiz
	position relative
	height 600px
	display flex
	align-items flex-start
	justify-content center

.main-content
    background-color alpha(black, 40%)  

a.cheatLink
	color blue
	margin-top 3rem
	text-decoration none
	&:visited
	color blue
	&:hover
	&:active
		text-decoration none
		
.results-box
	border 2px solid olive
	margin-top 1.5rem
	display flex
	flex-direction row
	flex-wrap wrap
	align-items baseline
	
.quiz-results-title
	font-size 2em
	font-weight bold
	text-align center
	flex 1 0 500px
	
	
.quiz-results
	text-align left

		
				
