<section class="adjacentQuiz">
<div>
  <h1>Do You Know Adjacent States?</h1>
  <form novalidate>

  	<label for="statesSelect">What are the adjacent states of</label>
  	<select id="statesSelect" ng-model="vm.selectedState"
  		ng-options="state.name for state in vm.adjacentStates"></select>
  	<br/>	
  </form>
  
  <picklist selected-state="{{vm.selectedState.name}}" 
    pass-message="vm.setResultMessage"></picklist>
  
  <div class="results-box">
    <div class="quiz-results-title">Quiz Results</div>
    <p class="quiz-results">{{vm.resultMsg}}</p>
  </div>
  
  <div>
     <a class="cheatLink" ui-sref="adjacent">If you want to cheat, click here</a>
  </div>        
</div>
</section>
