<section class="adjacentQuiz container">
  <h1>Do You Know Adjacent States?</h1>
  <form novalidate>

  	<label for="statesSelect">What are the adjacent states of</label>
  	<select id="statesSelect" ng-model="vm.selectedState"
  		ng-options="state.name for state in vm.adjacentStates" />
  	<br/>	
    <!--
  	<label for="answerBox">Your Answer:</label>  		
  	<input id="answerBox" type="text" ng-model="vm.answer"/>
  	<input type="submit" ng-click="vm.submitAnswer()" />
    -->
  </form>
  <picklist></picklist>
  <div>Result: {{vm.resultMsg}}</div>
  <div>Selected states: {{vm.pickedStates}}</div>
  <div>
     <a class="cheatLink" ui-sref="adjacent">If you want to cheat, click here</a>
  </div>        
</section>
