@import '../../../styles'

.capitalQuiz
  	position relative
	height 600px
	margin-left 10px
	margin-right 10px

/*	align-items flex-start */

.main-content
    background-color alpha(black, 40%)  


.capital-quiz-wrapper
	display flex
	flex-direction column
	justify-content center
	align-items center
