<section class="capitalQuiz">
  <div class="capital-quiz-wrapper">
    <h1>{{ title }}</h1>

    <form #form="ngForm">

      <div class="quiz-select-question">
        <state-dropdown
          [componentId]="'stateSelectorId'"
          [componentLabel]="'What is the capital of:'"
          [states]="states"
          [selectedState]="selectedState"
          (select)="selectedStateChanged($event)"
        >
        </state-dropdown>
      </div>

      <div class="quiz-select-answer">
        <label for="capitalSelect">Select a capital:</label>
        <select id="capitalSelect" name="capitalSelect" [(ngModel)]="selectedCapital">
          <option *ngFor="let capital of capitals"
            [value]="capital"
            [attr.selected]="capital === selectedCapital">
            {{capital}}
          </option>
        </select>
      </div>
      <div class="quiz-submit">
        <button class="" (click)="checkSelected(selectedState, selectedCapital)"> Check Selected Capital </button>
      </div>
    </form>

    <quiz-results-message [resultsMessages]="resultsMessages"></quiz-results-message>

  </div>
</section>
