@import '../../../styles'

.capitalQuiz
  	position relative
	height 600px
	margin-left 10px
	margin-right 10px

.main-content
    background-color alpha(black, 40%)  

.capital-quiz-wrapper
	display flex
	flex-direction column
	justify-content center
	align-items center

.quiz-submit
	padding-top 0.5rem
	
.quiz-results 
	padding-top 0.5rem
	
.quiz-select-answer
	padding-top 0.5rem
		
	