@import '../../../styles'

.capitalQuiz
  	position relative
	height 600px
	display flex
	align-items flex-start
	justify-content center
	margin-left 10px
	margin-right 10px

.main-content
    background-color alpha(black, 40%)  


/* .capital-quiz-wrapper */
