<section class="capitalQuiz">
  <div class="capital-quiz-wrapper">
    <h1>{{ vm.title }}</h1>
    <form novalidate>
  
      <div class="quiz-select-question">          
        <state-dropdown 
          component-id="stateSelectorId"
          component-label="What is the capital of:"
          selected-state-listener="vm.setSelectedState(state)"
          click-listener="vm.resetSelectedCapital()"
        ></state-dropdown> 
      </div>
      
      	
      <div class="quiz-select-answer">
        <label for="capitalSelect">Select a capital:</label>
        <select id="capitalSelect" ng-model="vm.selectedCapital"
          ng-options="state.capital for state in vm.states | orderBy:'capital'"></select>
      </div>
      <div class="quiz-submit">
        <button class="" ng-click="vm.checkSelected()"> Check Selected Capital </button> 
      </div> 
    </form>
    <div class="results-box">
      <div class="results-box-wrapper">
        <div class="quiz-results-title">Quiz Results</div>
      </div>
      <div class="quiz-results">
        {{ vm.uiMessage}}
      </div>
    </div>
  </div>
</section>
