<section class="picklist">
  <h4 class="picklist-title">{{ greeting }}</h4>
  <form novalidate>
	<div class="picklist-wrapper">
		<div class="picklist-left">
			<select multiple="true" class="picklist-item picklist-select"
				(change)="leftOptionSelected($event)">
				<option *ngFor="let state of allStates" [value]="state.name">
          {{state.name}}
        </option>
        </select>
		</div>
		<div class="picklist-buttons">
			<button (click)="statePicked()"><span class="picklist-controls"> -&gt; </span></button>
			<button (click)="stateDeleted()"><span class="picklist-controls"> &lt;- </span></button>
			<button (click)="allStatesDeleted()"><span class="picklist-controls"> &lt;&lt;- </span></button>
		</div>
		<div class="picklist-right">
			<select multiple="true" class="picklist-item picklist-select"
				(change)="rightOptionSelected($event)">
				<option *ngFor="let rightSelectedState of rightSelections"
          [value]="rightSelectedState.name">
          {{rightSelectedState}}</option>
      </select>

		</div>
	</div>
	<div class="">
		<button class="" (click)="checkSelected()"> Check Selected States </button>
	</div>
  </form>
</section>
