<section class="picklist">
<h3>{{ vm.greeting }}</h3>
  <form novalidate>
	<div class="picklist-wrapper">
		<div class="">	
			<select multiple="true" ng-multiple="true" class="picklist-item picklist-select" 
				ng-model="vm.leftSelected"
				ng-options="state.name for state in vm.states"></select>
		</div>
		<div class="">	
			<button class="picklist-item" ng-click="vm.statePicked()"> -&gt; </button><br/>
			<button ng-click="vm.stateDeleted()"> &lt;- </button>
		</div>
		<div class="">	
			<select multiple="true" ng-multiple="true" class="picklist-item picklist-select" 
				ng-model="vm.rightSelected"
				ng-options="state.name for state in vm.rightSelections"></select>

		</div>
	</div>
	<div class="">
		<button class="" ng-click="vm.checkSelected()"> Check Selected States </button> 
	</div> 
  </form>
</section>
