@import '../../../styles'

.picklist
	position relative
	
.picklist-wrapper
	display flex
	flex-direction row
	align-items center

.picklist-item
	margin 1rem	
	
.picklist-select
	min-width 10rem
	
.picklist-buttons
	display flex
	flex-direction column
	justify-content center
	align-items center
		
