<section class="quizResultsMessage">

  <div class="results-box">
    <div class="results-box-wrapper">
      <div class="quiz-results-title">{{ title }}</div>
    </div>
      <div class="quiz-results" *ngFor="let message of resultsMessages">
        <div class="">

          <span id="messageTitle" [style.color]="message.messageType.style.color" >
            {{ message.title }}
          </span>
            <span id="messageContent">{{ message.content }}</span>

        </div>

      </div>
  </div>

</section>
