<section class="login">
  <div class="login-wrapper">
  <h3>Login</h3>
		<form novalidate>
      <fieldset class="input-fieldset">
          <div class="login-itemr">
            <label for="usernameText">User name:</label>
            <input type="text"  ng-model="vm.username" 
            	id="usernameText" placeholder="Enter username">
          </div>
          <div class="login-item">
            <label for="passwordText">Password:</label>
            <input type="password" ng-model="vm.password" 
            	id="passwordText" placeholder="Enter password">
          </div>
      </fieldset>
          <div class="login-item login-button">
            <button type="submit" class=""
              ng-click="vm.login()">Login</button>
          </div>
      </form>
    </div>
</section>
