//@import '../../../styles'

.login
  	position relative
	height 600px
	center(600px)
	display flex
	flex-direction column
	margin-top 5%	
    
.main-content
    background-color alpha(black, 40%)  

h1
	font-size 2rem
	display block

label
	display block

 .login-item
 	margin 1rem

	 
.login-wrapper
	display flex
	align-items center
	padding 2rem
	border-top 1rem
	
.login-button
	border-top 2rem

	
.input-fieldset
	border 1px solid #cc3232
	box-shadow inset 0 -3px 0 #cc3232
	border-bottom 2rem	
	 
