@import '../../../styles'

.login
  	position relative
    background-color alpha(black, 40%)
	min-height 600px
	display flex
	align-items flex-start
	justify-content center
	align-items center
    
.login-item
 	margin 1rem
	 
/* .login-entertext-wrapper */
	
	
	 
