<section class="stateDropdown">

  <!-- Usage:
  The 'state' argument is a State object with a name property
    <state-dropdown 
      component-id="<component id attribute>"
      component-label="<component label text>"
     ></state-dropdown> 
   -->

  <form novalidate>

  	<label id="{{ vm.componentId }}Label" for="{{ vm.componentId }}">
      <span class="stateDropdown-title">{{ vm.componentLabel }}</span>
    </label>
  	<select id="{{ vm.componentId }}" ng-model="vm.selectedState"
  		ng-options="state.name for state in vm.states"
      ng-click="vm.onClick()"></select>
  	<br/>	
  </form>


</section>
